<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Time:</strong>
  <%= @url.time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @url.message %>
</p>

<p>
  <strong>Health code:</strong>
  <%= @url.health_code %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
