<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notification.name %>
</p>

<p>
  <strong>Slack channel:</strong>
  <%= @notification.slack_channel %>
</p>

<p>
  <strong>Slack webhook:</strong>
  <%= @notification.slack_webhook %>
</p>

<p>
  <strong>Slack username:</strong>
  <%= @notification.slack_username %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
